<table mat-table class="mat-elevation-z8" [dataSource] = "ordersList">

  <ng-container matColumnDef="ref">
    <th mat-header-cell *matHeaderCellDef>REF</th>
    <td mat-cell *matCellDef="let row"  style="width: 800px;">
      <div class="info-td">
        <span class="title">{{ row.id }}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef>Data Criação</th>
    <td mat-cell *matCellDef="let row"  style="width: 800px;">
      <div class="info-td">
        <span class="title" matTooltip="{{ row.dataCriado |  date: 'dd/MM/yyyy  h:mm:ss' }}">{{ row.dataCriado |  date: 'dd/MM/yyyy' }}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="cliente">
    <th mat-header-cell *matHeaderCellDef>Cliente</th>
    <td mat-cell *matCellDef="let row"  style="width: 800px;">
      <div class="info-td">
        <span class="title">{{ row.cliente.nome }}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="produto">
    <th mat-header-cell *matHeaderCellDef>Produto</th>
    <td mat-cell *matCellDef="let row"  style="width: 800px;">
      <div class="info-td">
        <span class="title">{{ row.produto.nome }}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef>Telefone</th>
    <td mat-cell *matCellDef="let row"  style="width: 800px;">
      <div class="info-td">
        <span class="title">{{ row.cliente.telefone }}</span>
        <span class="sub-title">{{ row.cliente.endereco.bairro }} - {{ row.cliente.endereco.cidade}}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="responsavel">
    <th mat-header-cell *matHeaderCellDef>Entregador</th>
    <td mat-cell *matCellDef="let row"  style="width: 800px;">
      <div class="info-td">
        <span class="title">{{ row.nomeResp }}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let row"  style="width: 800px;">
      <div class="info-td">
        <div class="container-status">
          <span [ngClass]="'info-status ' + row.status.nome">
            {{ row.status.nome }}
          </span>
          <!-- <div [ngClass]="row.ativo == true ? 'info-status ativo' : 'info-status inativo'">
            {{ row.ativo ? "ATIV." : "INAT."}}
          </div> -->
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="preco">
    <th mat-header-cell *matHeaderCellDef>Valor Total</th>
    <td mat-cell *matCellDef="let row"  style="width: 800px;">
      <div class="info-td">
        <span class="title">{{ row.total | currency : 'R$'  }}</span>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="paging">
  <div class="pagination">
      <span (click)="onClickPrevious()">&laquo;</span>
      <span *ngFor="let key of counter(totalPaging); let i = index"
        id="{{i+1}}"
        (click)="onClickPagination(i+1)"
        [class.active]="actualPaging == i+1"
        >
        {{i == 0 ? i+1 : i+1}}
      </span>
      <span (click)="onClickNext()">&raquo;</span>
    </div>
</div>
