<div class="header-component">
  <div class="name-component">
    <span>Dashboard</span>
  </div>

  <div class="action-component">
    <section class="example-section">
      <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled">
        <span>Dia</span>
      </mat-slide-toggle>
    </section>
  </div>
</div>

<div class="information-cards">

  <mat-card class="card-orders">
    <div class="card-header-info">
      <div class="icon-card">
        <img src="../../../assets/svg/shopping-bag.svg" alt="">
      </div>
      <div class="title-card">Pedidos</div>
      <div class="button-card">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <img src="../../../assets/svg/more-vert-black.svg" alt="">
        </button>
      </div>
    </div>
    <mat-card-content>
     <span class="number-information">
       100
     </span>
    </mat-card-content>
  </mat-card>


  <mat-card class="card-finaled">
    <div class="card-header-info">
      <div class="icon-card">
        <img src="../../../assets/svg/shopping-bag.svg" alt="">
      </div>
      <div class="title-card">Pedidos</div>
      <div class="button-card">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <img src="../../../assets/svg/more-vert-black.svg" alt="">
        </button>
      </div>
    </div>
    <mat-card-content>
     <span class="number-information">
       100
     </span>
    </mat-card-content>
  </mat-card>


  <mat-card class="card-route">
    <div class="card-header-info">
      <div class="icon-card">
        <img src="../../../assets/svg/shopping-bag.svg" alt="">
      </div>
      <div class="title-card">Pedidos</div>
      <div class="button-card">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <img src="../../../assets/svg/more-vert-black.svg" alt="">
        </button>
      </div>
    </div>
    <mat-card-content>
     <span class="number-information">
       100
     </span>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-canceled">
    <div class="card-header-info">
      <div class="icon-card">
        <img src="../../../assets/svg/shopping-bag.svg" alt="">
      </div>
      <div class="title-card">Pedidos</div>
      <div class="button-card">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <img src="../../../assets/svg/more-vert-black.svg" alt="">
        </button>
      </div>
    </div>
    <mat-card-content>
     <span class="number-information">
       100
     </span>
    </mat-card-content>
  </mat-card>
</div>
