<div class="header-component">
  <div class="name-component">
    <span>Dashboard</span>
  </div>

  <div class="action-component">
    <section class="example-section">
      <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled"
          (change)="requestIsDayOrders($event)">
        <span>Dia</span>
      </mat-slide-toggle>
    </section>
  </div>
</div>

<div class="information-cards">

  <div class="card-boards orders">
    <div class="card-header-info">
      <div class="icon-card">
        <img src="../../../assets/svg/shopping-bag.svg" alt="">
      </div>
      <div class="title-card">Pedidos</div>
      <div class="button-card">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <img src="../../../assets/svg/more-vert-black.svg" alt="">
        </button>
      </div>
    </div>
    <div class="card-container-info">
      <h2 [countUp]="ordersFull" >0</h2>
    </div>
  </div>

  <div class="card-boards finaled">
    <div class="card-header-info">
      <div class="icon-card">
        <img src="../../../assets/svg/shopping-bag.svg" alt="">
      </div>
      <div class="title-card">Finalizados</div>
      <div class="button-card">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <img src="../../../assets/svg/more-vert-black.svg" alt="">
        </button>
      </div>
    </div>
    <div class="card-container-info">
      <h2 [countUp]="ordersFinalize">0</h2>
    </div>
  </div>

  <div class="card-boards route">
    <div class="card-header-info">
      <div class="icon-card">
        <img src="../../../assets/svg/shopping-bag.svg" alt="">
      </div>
      <div class="title-card">Em Rota</div>
      <div class="button-card">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <img src="../../../assets/svg/more-vert-black.svg" alt="">
        </button>
      </div>
    </div>
    <div class="card-container-info">
      <h2 [countUp]="ordersInRoute">0</h2>
    </div>
  </div>

  <div class="card-boards canceled">
    <div class="card-header-info">
      <div class="icon-card">
        <img src="../../../assets/svg/shopping-bag.svg" alt="">
      </div>
      <div class="title-card">Cancelados</div>
      <div class="button-card">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <img src="../../../assets/svg/more-vert-black.svg" alt="">
        </button>
      </div>
    </div>
    <div class="card-container-info">
      <h2 [countUp]="ordersCancel"></h2>
    </div>
  </div>


</div>

<div class="card-grids">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile class="grid-graph" [colspan]="3" [rowspan]="5">
      gráfico
    </mat-grid-tile>
    <mat-grid-tile class="grid-cards-column" [colspan]="1" [rowspan]="5">
      <div class="row">
        <div class="card monthly-income">
          <div class="container-card">
            <p>Ganho do {{textFilterInfoPage}}</p>
            <h2 [countUp]="orderFullValue" [options]="countUpCurrency"></h2>
          </div>
        </div>

        <div class="card month-goal">
          <div class="container-card">
            <p>Meta {{textFilterInfoPagePlus}}</p>
            <h2 [countUp]="OrderFullValueGoal" [options]="countUpCurrency"></h2>
          </div>
        </div>

        <div class="card goal-percentage">
          <div class="container-card">
            <p>Porcentagem da Meta {{textFilterInfoPagePlus}}</p>
            <h2 [countUp]="OrderPorcentGoal" [options]="countUpPorcent"></h2>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
